# Server
PORT=5001

# Authentication
JWT_SEC="your_jwt_secret"

# Services
UTILS_SERVICE="your_utils_service_url"
REALTIME_SERVICE="your_realtime_service_url"

# Database
MONGO_URI="your_mongodb_connection_string"

# Internal service authentication
INTERNAL_SERVICE_KEY="your_internal_service_key"

# RabbitMQ
RABBITMQ_URL="your_rabbitmq_connection_string"

# Queues
PAYMENT_QUEUE="payment_event"
RIDER_QUEUE="rider_queue"
ORDER_READY_QUEUE="order_ready_queue"