# Server
PORT=9000

# Cloudinary
CLOUD_NAME="your_cloud_name"
CLOUD_API_KEY="your_cloud_api_key"
CLOUD_API_SECRET="your_cloud_api_secret"

# Internal service authentication
INTERNAL_SERVICE_KEY="your_internal_service_key"

# RabbitMQ
RABBITMQ_URL="your_rabbitmq_connection_string"
PAYMENT_QUEUE="payment_event"

# Services
RESTAURANT_SERVICE="your_restaurant_service_url"

# Razorpay
RAZORPAY_KEY_ID="your_razorpay_key_id"
RAZORPAY_KEY_SECRET="your_razorpay_key_secret"

# Frontend
FRONTEND_URL="your_frontend_url"

# Stripe
STRIPE_SECRET_KEY="your_stripe_secret_key"