# Server
PORT=5005

# Database
MONGO_URI="your_mongodb_connection_string"

# Authentication
JWT_SEC="your_jwt_secret"

# Services
UTILS_SERVICE="your_utils_service_url"
REALTIME_SERVICE="your_realtime_service_url"
RESTAURANT_SERVICE="your_restaurant_service_url"

# Internal service authentication
INTERNAL_SERVICE_KEY="your_internal_service_key"

# RabbitMQ
RABBITMQ_URL="your_rabbitmq_connection_string"

# Queues
RIDER_QUEUE="rider_queue"
ORDER_READY_QUEUE="order_ready_queue"